<% provide(:title, "Street") %>

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/HouseOfThunderStyle.css">
  </head>
    
  <style>
    h1 {
      text-align: center;
    }
  </style>
    
  <body>
  
  <div style="background-color:black;color:black;padding-left:300px;padding-right:236.5px; margin: -8px; margin-top: -22px;">
     <h1 style= "text-shadow: none; padding-right: 180px; padding-top: 15px">
      <i>Street Motorcycles</i>
    </h1>
   
    <div class="vividworknav">
          <%=link_to image_tag("Street/Sport/Kawasaki_Ninja300_Green.jpg", :size => "600x450", :class => "image_tag"), "sport.html.erb"%>   
        <div class="work-text-content">
          <h3>S P O R T</h3>
        </div>
      </div>
      
      <div class="vividworknav">
          <%=link_to image_tag("Street/Sport touring/BMW_S1000_XR_White.jpg", :size => "600x450", :class => "image_tag"), "sporttouring.html.erb"%>   
        <div class="work-text-content">
          <h3>S P O R T - T O U R I N G</h3>
        </div>
      </div>
      
      <div class="vividworknav">
          <%=link_to image_tag("Street/Supersport/Kawasaki_Ninja636_Black.jpg", :size => "600x400", :class => "image_tag"), "supersport.html.erb"%>   
        <div class="work-text-content">
          <h3>S U P E R S P O R T</h3>
        </div>
      </div>
    
      <div class="vividworknav">
          <%=link_to image_tag("Street/Cruisers/HarleyDavidson_Iron883.jpg", :size => "600x400", :class => "image_tag"), "cruiser.html.erb"%> 
        <div class="work-text-content">
          <h3>C R U I S E R</h3>
        </div>
        <p style="clear: both;">
          <br style="clear:both;"/>
      </div>
  </div>
    
  <title><%= yield(:title) %> | HOUSE OF THUNDER/title>
    
  </body>
</html>
