<% provide(:title, "Log in") %>
<h1>Log in</h1>

<style>
    body {
        background-image: url('<%= asset_path 'HomePage.jpg' %>');
        background-size: 1350px 844px;
        background-color: black;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    p {
      margin-top: -55px;
      margin-bottom: 70px;
      margin-left: 100px;
    }
    
    a {
      color: blue;
    }
    
    .checkbox {
      margin-bottom: 1000px;
      margin-left: 40px;
    }
</style>

<div class="row">
  <div class="col-md-6 col-md-offset-3" style="padding-right:900px; padding-left: 60px;">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
      
      <%= f.label :remember_me, class: "checkbox" do %>
          <%= f.check_box :remember_me %>
          <p>Remember me</p>
      <% end %>
    <% end %>
    <p>New user? <%= link_to "Sign up now!", signup_path%></p>
    
  </div>
</div>