<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!--<script src="//"-->
  </head>
  
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul>
            <li><a href="home.html.erb">Home</a></li>
            
            <li class="dropdown">
            <a href="street.html.erb" class="dropbtn">Street</a>
            <div class="dropdown-content">
              <a href="sport.html.erb">Sport</a>
              <a href="sporttouring.html.erb">Sport touring</a>
              <a href="supersport.html.erb">Supersport</a>
              <a href="cruiser.html.erb">Cruiser</a>
            </div>
            </li>
            
            <li class="dropdown">
            <a href="offroad.html.erb" class="dropbtn">Off-road</a>
            <div class="dropdown-content">
              <a href="motocross.html.erb">Motocross</a>
              <a href="trailbike.html.erb">Trail bike</a>
              <a href="dualsport.html.erb">Dual-sport</a>
            </div>
            </li>
            
            <li class="dropdown">
            <a href="ridinggear.html.erb" class="dropbtn">Riding Gear</a>
            <div class="dropdown-content">
              <a href="helmets.html.erb">Helmets</a>
              <a href="jackets.html.erb">Jackets</a>
              <a href="jerseysets.html.erb">Jersey sets</a>
              <a href="goggles.html.erb">Goggles</a>
              <a href="gloves.html.erb">Gloves</a>
              <a href="boots.html.erb">Boots</a>
            </div>
            </li>
            
            <li><a href="show.html.erb">Account</a></li>
            <li><a href="about.html.erb">About</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
