  <!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!--<script src="//"-->
  </head>
  
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul>
            <li><a <%= link_to "Home", root_path %></a></li>
            
            <li class="dropdown">
            <a <%= link_to "Street", street_path, class: "dropbtn" %></a>
            <div class="dropdown-content">
              <a <%= link_to "Sport", sport_path, class: "dropdownseparator" %></a>
              <a <%= link_to "Sport-touring", sporttouring_path, class: "dropdownseparator" %></a>
              <a <%= link_to "Supersport", supersport_path, class: "dropdownseparator" %></a>
              <a <%= link_to "Cruiser", cruiser_path, class: "dropdownseparator" %></a>
            </div>
            </li>
            
            <li class="dropdown">
            <a <%= link_to "Off-road", offroad_path, class: "dropbtn" %></a>
            <div class="dropdown-content">
              <a <%= link_to "Motocross", motocross_path, class: "dropdownseparator" %></a>
              <a <%= link_to "Trailbike", trailbike_path, class: "dropdownseparator" %></a>
              <a <%= link_to "Dualsport", dualsport_path, class: "dropdownseparator" %></a>
            </div>
            </li>
            
            <li class="dropdown">
            <a <%= link_to "Riding Gear", ridinggear_path, class: "dropbtn" %></a>
            <div class="dropdown-content">
              <a <%= link_to "Helmets", helmets_path, class: "dropdownseparator" %></a>
              <a <%= link_to "Jersey sets", jerseysets_path, class: "dropdownseparator" %></a>
              <a <%= link_to "Goggles", goggles_path, class: "dropdownseparator" %></a>
              <a <%= link_to "Gloves", gloves_path, class: "dropdownseparator" %></a>
              <a <%= link_to "Boots", boots_path, class: "dropdownseparator" %></a>
            </div>
            </li>
            
            <li><a <%= link_to "Contact Us", contact_path %></a></li>

            <% if logged_in? %>
              <li><%= link_to "Users", users_path %></li>
              <li class="dropdown">
              <a href="#" class="dropbtn">My Account</a>
              <div class="dropdown-content">
                <a <%= link_to "Profile", current_user, class: "dropdownseparator" %></a>
                <a <%= link_to "Settings", edit_user_path(current_user), class: "dropdownseparator" %></a>
                <a <%= link_to "Log out", logout_path, method: "delete", class: "dropdownseparator" %></a>
              </div>
              </li>
            <% else %>
              <li><i><%= link_to "Log in", login_path, class: "loginbutton" %></i></li>
            <% end %>
            
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <!--<%= debug(params) if Rails.env.development? %>-->
    </div>
  </body>
</html>
